<!DOCTYPE html>
<html lang="{{ site.lang }}" xml:lang="{{ site.lang }}">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
  {% feed_meta %}
  {% seo %}
</head>

<body>
  <div class="container">
    <div class="logo-container">
      <img src="{{ site.logo }}" alt="{{ site.title | default: site.github.repository_name }}" class="logo" />
    </div>
    <header>
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p class="description">
        {{ site.description | default: site.github.project_tagline }}
      </p>
      <a href="https://t.me/{{ site.telegram }}" class="telegram-button">View in Telegram</a>
    </header>

    <main>
      {{ content }}
    </main>
  </div>
</body>

</html>
